.delutb-search {
    display: flex;
    position: relative;
}

#search-icon {
    position: absolute;
    transform: scaleX(-1);
    top: 10px;
    left: 10px;
}

#search-icon path {
    fill: var(--charchoal);
}

.delutb-search input[type=text] {
    outline-offset: 0;
    outline: none;
    border: 2px solid var(--orange);
    width: 100%;
    max-width: 350px;
    height: 40px;
    background: var(--light-gray);
    padding-right: 10px;
    padding-left: 54px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: var(--charchoal);
}
