:root {
    /* elementfarger */
    --red: #E32129;
    --dark-red: #a0161a;
    --blue: #065f7f;
    --dark-blue: #024963;
    --orange: #FF9600;
    --dark-orange: #c47303;
    --disabled: #B5B5B5;
    /* bakgrunnsfarger */
    --charchoal: #45515A;       /* bakgrunn til menyer */
    --dark-charchoal: #272e33;       /* bakgrunn til menyer */
    --darker-gray: #444F55;     /* tekstfarge og understreker */
    --dark-gray: #DADADA;       /* bakgrunn bokser/knapper + hover */
    --gray: #ECECEC;            /* bakgrunn bokser/knapper */
    --light-gray: #F5F5F5;      /* hovedbakgrunnsfarge */
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    background: var(--light-gray);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}